# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas

|Data Science Tools|
|-------------------|
|R|
|Jupyter Notebook|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#  This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200 / 3600
print(hours)

0.05555555555555555

**Objectives:**
+ List popular languages for Data Science
+ List popular data science libraries
+ Using Markdowns in Jupyter Notebook

## Author 
Orhun GÃ¼l